name: Integration tests

on:
  pull_request:

jobs:
  integration-tests:
    uses: canonical/operator-workflows/.github/workflows/integration_test.yaml@main
    secrets: inherit
    with:
      modules: '["test_cert_relation", "test_ingress_relation", "test_nginx_route"]'
